.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,

.accordion:hover {
    background-color: rgb(225, 226, 196);
}

.roof {
    /* clip-path: polygonpolygon(3.33px 161.47px,796.67px 162.47px,794.67px 41.53px,4.33px 42.53px);
        */
    background-color: rgb(131, 88, 88);
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 355px;
    -webkit-text-size-adjust: 100%;

}



.walls {
    height: 200px;
    width: 100vw;
    position: absolute;
    bottom: 156px;
    background-color: rgb(231, 231, 222);
    /*clip-path: polygon(0.67% 91.12%,99.21% 91.12%,99.33% 0.24%,0.29% 0.70%);
        
    */
}



.foundation {
    background-color: rgb(209, 208, 208);
    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 80px;
}

.panel {
    background-color: white;

    overflow: hidden;
}

body {
    overflow-x: hidden;
}

#roof {
    background-color: rgb(97, 66, 66);
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 355px;
    z-index: 3;
    text-align: right;
}

#walls {
    height: 200px;
    width: 100vw;
    position: absolute;
    bottom: 156px;
    background-color: rgb(230, 194, 98);
    z-index: 5;
    text-align: right;

}

#foundation {
    background-color: rgb(173, 164, 164);
    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 80px;
    z-index: 7;
    text-align: right;

}

#practical {
    position: absolute;
    bottom: 355px;
    background: rgb(235, 232, 232);
    height: 100px;
    width: 100vw;
    transition: 0.4s;
    z-index: 2;
}

#skills {
    position: absolute;
    bottom: 156px;
    background: rgb(240, 238, 230);
    width: 100vw;
    height: 200px;
    transition: 0.4s;
    z-index: 4;
}

#values {
    position: absolute;
    bottom: 80px;
    background: rgb(223, 222, 222);
    width: 100vw;
    height: 80px;
    transition: 0.4s;
    z-index: 6;
}

#grass {
    background-color: olivedrab;
    width: 100vw;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}



#sky {
    background-color: rgb(117, 199, 224);
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#sky::before {
    content: '';
    height: 250px;
    width: 100vw;
    background: linear-gradient(rgba(219, 219, 219, 0.295), rgba(219, 219, 219, 0.034));
    position: absolute;
    top: 0px;
    left: 0;
}

#leaves {
    height: 180px;
    width: 300px;
    position: absolute;
    left: 200px;
    bottom: 510px;
    background-color: green;
    border-radius: 75px;
}



#partleaves {
    height: 70px;
    width: 70px;
    background-color: green;
    position: absolute;
    bottom: 480px;
    left: 220px;
    border-radius: 50px;
}



#branch {
    height: 20px;
    width: 100px;
    background-color: rgb(77, 31, 31);
    position: absolute;
    bottom: 480px;
    left: 240px;
    border-radius: 25px;
    -moz-transform: rotate(32deg);
    -webkit-transform: rotate(32deg);
    -o-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
    transform: rotate(35deg);

}

#trunk {
    height: 200px;
    width: 90px;
    position: absolute;
    left: 305px;
    bottom: 330px;
    background-color: rgb(77, 31, 31);
    border-radius: 15px;
}

#leaves2 {
    height: 180px;
    width: 330px;
    position: absolute;
    left: 550px;
    bottom: 400px;
    background-color: green;
    border-radius: 75px;
}



#trunk2 {
    height: 180px;
    width: 90px;
    position: absolute;
    left: 670px;
    bottom: 250px;
    background-color: rgb(77, 31, 31);
    border-radius: 15px;
}

#titleInfo {
    position: fixed;
    top: 10px;
    left: 75px;
}

#email {
    position: fixed;
    top: 55px;
    left: 90px;
    font-size: 18px;
}

#github {
    position: fixed;
    top: 75px;
    left: 90px;
    font-size: 18px;
}

a:visited {
    text-decoration: none;
    color: blue;
}

button {
    font-family: Georgia, serif;
    font-size: 22px;
    letter-spacing: -0.4px;
    word-spacing: 0px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: right;
}

.bot {
    color: black;
}

p,
li {
    font-size: 2vh;
}

.cards {
    background-color: white;
    padding: 12px;
    padding-top: 12px;
    border-radius: 10px;
    box-shadow: 10px, 10px, 5px, black;
    margin: 5px;
    margin-top: 20px;
    min-width: 40vw;
}
 /* -------------------------------------
        ::BEFORE    SHADING    ::AFTER
   -------------------------------------- */
#trunk::before{
  content: '';
  height: 40px;
  width: 90px;
  position:absolute;
  background: linear-gradient(rgba(53, 53, 53, 0.199), transparent)
}
   .roof::before{
    content: '';
    height: 70px;
    width: 100vw;
    background: linear-gradient(rgba(219, 219, 219, 0.308), rgba(219, 219, 219, 0.062));
    position: absolute;
    top: 0px;
    left: 0;
}
.roof::after{
    content: '';
    height: 10px;
    width: 100vw;
    background: linear-gradient(rgba(143, 143, 143, 0.096), rgba(143, 143, 143, 0.308));
    position: absolute;
    bottom: 0px;
    left: 0;
}


   .walls::before{
    content: '';
    height: 10px;
    width: 100vw;
    background: linear-gradient(rgba(128, 128, 128, 0.438),rgba(128, 128, 128, 0.253));
    position: absolute;
    top: 0px;
    left: 0;
}
.walls::after{
    content: '';
    height: 150px;
    width: 100vw;
    background: linear-gradient(rgba(218, 218, 218, 0.116), rgba(219, 219, 219, 0.164));
    position: absolute;
    bottom: 0px;
    left: 0;
}

.foundation::before{
    content: '';
    height: 40px;
    width: 100vw;
    background: linear-gradient(rgba(116, 116, 116, 0.253),rgba(211, 211, 211, 0.322));
    position: absolute;
    top: 0px;
    left: 0px;
}
.foundation::after{
    content: '';
    height: 40px;
    width: 100vw;
    background: linear-gradient(rgba(211, 211, 211, 0.062),rgba(88, 88, 88, 0.342));
    position: absolute;
    bottom: 0px;
    left: 0;
}

#grass::before {
    content: '';
    height: 300px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(rgba(114, 114, 114, 0.253), rgba(236, 236, 236, 0.253));
}

#grass::after {
    content: '';
    height: 20px;
    width: 100vw;
    position: absolute;
    bottom: 60px;
    left: 8px;
    background: linear-gradient(rgba(109, 88, 88, 0.397), rgba(70, 70, 70, 0.068));
}
#leaves::after {
    content: '';
    height: 180px;
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 75px;
    background: linear-gradient(rgba(230, 230, 230, 0.459), rgba(70, 70, 70, 0.534));
}

#partleaves::after {
    content: '';
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 50px;
    background: linear-gradient(rgba(230, 230, 230, 0.062), rgba(70, 70, 70, 0.671));
}
#leaves2::after {
    content: '';
    height: 180px;
    width: 330px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 75px;
    background: linear-gradient(rgba(230, 230, 230, 0.459), rgba(70, 70, 70, 0.534));
}
 /* -------------------------------------
        DETAILS AND ORNAMENTAL ELEMENTS
   -------------------------------------- */
#frame{
    position: absolute;
    bottom: 0px;
    left: 65px;
    height: 150px;
    width: 90px;
    background-color: rgb(121, 67, 67);
}
#door{
    position: absolute;
    bottom: 5px;
    left: 70px;
    height: 140px;
    width: 80px;
    background-color: rgb(240, 238, 230);
}

#doorknob{
    position: absolute;
    bottom: 60px;
    left: 135px;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: rgb(201, 201, 63);
}

#frame2{
    position: absolute;
    bottom: 0px;
    left: 565px;
    height: 150px;
    width: 90px;
    background-color: rgb(121, 67, 67);
}
#door2{
    position: absolute;
    bottom: 5px;
    left: 570px;
    height: 140px;
    width: 80px;
    background-color: rgb(240, 238, 230);
}

#doorknob2{
    position: absolute;
    bottom: 60px;
    left: 635px;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: rgb(201, 201, 63);
}

#frame3{
    position: absolute;
    bottom: 0px;
    left: 730px;
    height: 150px;
    width: 90px;
    background-color: rgb(121, 67, 67);
}
#door3{
    position: absolute;
    bottom: 5px;
    left: 735px;
    height: 140px;
    width: 80px;
    background-color: rgb(240, 238, 230);
}

#doorknob3{
    position: absolute;
    bottom: 60px;
    left: 800px;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: rgb(201, 201, 63);
}

#window2{
    position: absolute;
    bottom: 80px;
    left: 430px;
    height: 100px;
    width: 100px;
    background: linear-gradient(rgb(181, 253, 250),rgb(157, 193, 209));
    border: solid, black, 8px;
}
#windowVert2{
    position: absolute;
    bottom: 80px;
    left: 475px;
    height: 100px;
    width: 10px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}
#windowHor2{
    position: absolute;
    bottom: 120px;
    left: 430px;
    height: 10px;
    width: 100px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}

#window3{
    position: absolute;
    bottom: 80px;
    left: 910px;
    height: 100px;
    width: 100px;
    background: linear-gradient(rgb(181, 253, 250),rgb(157, 193, 209));
    border: solid, black, 8px;
}
#windowVert3{
    position: absolute;
    bottom: 80px;
    left: 955px;
    height: 100px;
    width: 10px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}
#windowHor3{
    position: absolute;
    bottom: 120px;
    left: 910px;
    height: 10px;
    width: 100px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}

#window4{
    position: absolute;
    bottom: 80px;
    left: 1110px;
    height: 100px;
    width: 100px;
    background: linear-gradient(rgb(181, 253, 250),rgb(157, 193, 209));
    border: solid, black, 8px;
}
#windowVert4{
    position: absolute;
    bottom: 80px;
    left: 1155px;
    height: 100px;
    width: 10px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}
#windowHor4{
    position: absolute;
    bottom: 120px;
    left: 1110px;
    height: 10px;
    width: 100px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}

#cloud{
    background-color: white;
    position: fixed;
    height: 70px;
    width: 350px;
    top: 50px;
    left: 20px;
    border-radius: 25px;
}
#cloud2{
    background-color: white;
    position: fixed;
    height: 80px;
    width: 160px;
    top: 10px;
    left: 120px;
    border-radius: 45px;
}
#cloud3{
    background-color: white;
    position: fixed;
    height: 80px;
    width: 80px;
    top: 20px;
    left: 60px;
    border-radius: 50px;
}
#cloud4{
    background-color: white;
    position: fixed;
    height: 80px;
    width: 80px;
    top: 30px;
    left: 240px;
    border-radius: 50px;
}

#window1{
    position: absolute;
    bottom: 80px;
    left: 230px;
    height: 100px;
    width: 100px;
    background: linear-gradient(rgb(181, 253, 250),rgb(157, 193, 209));
    border: solid, black, 8px;
}
#windowVert{
    position: absolute;
    bottom: 80px;
    left: 275px;
    height: 100px;
    width: 10px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}
#windowHor{
    position: absolute;
    bottom: 120px;
    left: 230px;
    height: 10px;
    width: 100px;
    background-color: rgb(236, 236, 236);
    border: solid, black, 8px;
}

#porch{
    position: absolute;
    bottom: 40px;
    left: 60px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    background: linear-gradient(rgb(184, 175, 149), rgba(214, 206, 181, 0.479))
}

#porch2{
    position: absolute;
    bottom: 40px;
    left: 560px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    background: linear-gradient(rgb(184, 175, 149), rgba(214, 206, 181, 0.479))
}

#porch3{
    position: absolute;
    bottom: 40px;
    left: 725px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    background: linear-gradient(rgb(184, 175, 149), rgba(214, 206, 181, 0.479))
}

#head{
    position: absolute;
    bottom: 90px;
    left: 232px;
    height: 25px;
    width: 24px;
    border-radius: 50px;
    background-color: black;
}
#wave1{
    position: absolute;
    bottom: 77px;
    left: 255px;
    height: 30px;
    width: 10px;
    border-radius: 50px;
    background-color: black;
    -moz-transform: rotate(250deg);
    -webkit-transform: rotate(250deg);
    -o-transform: rotate(250deg);
    -ms-transform: rotate(250deg);
    transform: rotate(250deg);
}
#wave2{
    position: absolute;
    bottom: 92px;
    left: 265px;
    height: 25px;
    width: 10px;
    border-radius: 50px;
    background-color: black;
    -moz-transform: rotate(175deg);
-webkit-transform: rotate(175deg);
-o-transform: rotate(175deg);
-ms-transform: rotate(175deg);
transform: rotate(175deg);
}
#body{
    position: absolute;
    bottom: 80px;
    left: 235px;
    height: 15px;
    width: 20px;

    background-color: black;
}
#shoulder{
    position: absolute;
    bottom: 80px;
    left: 230px;
    height: 15px;
    width: 20px;
    border-top-right-radius: 50px;
    background-color: black;
}

#thirtyfive{
    position: absolute;
    bottom: 100px;
    left: 361px;
    height: 40px;
    width: 42px;
    background-color: navy;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#thirtyfive::before{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 16px;
    height: 30px;
    width: 18px;
    background-color: navy;
    -moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
#thirtyfiveNum{
    position: absolute;
    bottom: 95px;
    left: 368px;
    height: 40px;
    color: white;
}